* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-family: 'Karla', sans-serif;
    height: 79px;
    line-height: 85px;
}

.social-nav i {
    font-size: 0.9rem !important;
}

/* ------------------------------------Hero styling  */
.hero {
    /* height: 60vh; */
    background: rgb(51, 0, 102);
    background: linear-gradient(142deg, rgba(51, 0, 102, 1) 0%, rgba(255, 0, 102, 1) 25%, rgba(255, 153, 0, 1) 50%, rgba(255, 255, 0, 1) 75%, rgba(0, 255, 204, 1) 100%);
    /* padding-top: 8rem; */
    /* padding-bottom: 8rem; */
    /* background-image: url(../images/Pod-Mark.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-txt {
    font-size: 2.8rem;
    line-height: 1.4;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-family: "Oswald", serif;
    font-weight: 400;
}


/* -----------------------------------Home page styling */
.home-bg {
    background: linear-gradient(142deg, rgba(51, 0, 102, 1) 0%, rgba(255, 0, 102, 1) 25%, rgba(255, 153, 0, 1) 50%, rgba(255, 255, 0, 1) 75%, rgba(0, 255, 204, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-container {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    background: url(../images/inclusive.webp);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-width: 1rem 2rem;
    border-style: solid;
    border-color: white;
}

.home-card {
    width: 32vw;
    position: relative;
    overflow: hidden;
    border: 1rem solid #fff;

}

.home-img {
    width: 100%;
}

.home-card:hover {
    box-shadow: 2px 2px 4px #000;
}

/* Screens above 992px */
@media only screen and (min-width: 993px) {}

/* Screens between 769px and 992px */
@media only screen and (min-width: 769px) and (max-width: 992px) {
    .home-container {
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .hero-img {
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}

/* Screens up to 768px */
@media only screen and (max-width: 599px) {
    .home-card {
        width: 90%;
        height: 50vh;
        margin: auto;
        margin-bottom: 20px;
    }

    .home-container {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

/* History page CSS */

.hero-image {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/assets/images/hero-image-history.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.description {
    margin-bottom: 30px;
}

.break {
    border: 0;
    height: 1px;
    background: #333;
    align-items: center;
    margin-bottom: 40px;
    background-image: linear-gradient(to right, #FAFAFA, #000, #FAFAFA);
}
